[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile"

# Pass these environment variables as build arguments
[build.buildArgs]
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY = "${{NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY}}"
CLERK_SECRET_KEY = "${{CLERK_SECRET_KEY}}"

[deploy]
startCommand = "npm start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
